{% extends 'base.html' %}










{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-center">Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Войти</button>
    </form>
    <div class="text-center mt-3">
        <p>Вы еще не зарегистрированы? <a href="{% url 'users:register' %}">Зарегистрируйтесь</a></p>
    </div>
    <div class="text-center mt-3">
        <p><a href="{% url 'users:password_reset' %}">Забыли пороль?</a></p>
    </div>
</div>
{% endblock %}

